[alias]
  lg = log --graph --pretty=format:'%Cred%h%Creset - %C(yellow)%an%Creset - %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
  st = status -sb
[user]
	name = Zain Memon
	email = zain@inzain.net
[color]
	ui = true
[core]
	excludesfile = /Users/zain/.gitignore
	quotepath = false
